@keyframes showTab {
  0% {
    opacity: 0;
    transform: translate(-1%, -1%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.services {
  padding-top: 20px;
  padding-bottom: 40px;
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptiveValue("column-gap", 30, 20, 1920, 1024, 0);
    // column-gap: 30px;
  }
  &__left {
    grid-column: span 2;
  }
  &__title {
    color: $drk;
    &_left {
      margin-bottom: 9px;
    }
    &_right {
      margin-bottom: 12px;
    }
  }
  &__tabs {
    justify-content: space-between;
    max-width: 412px;
    margin-bottom: 30px;
    border-bottom: 4px solid #c4c4c4;
  }
  &__tab {
    position: relative;
    font-family: $fontRob;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #666666;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    &_active {
      color: $orng;
    }
    &_active::after {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateY(4px);
      width: 100%;
      height: 4px;
      background-color: $orng;
    }
    &:hover {
      color: $orng;
    }
    &:focus {
      background-color: #ffd4c1;
      color: #666666;
    }
    &:active {
      color: $orng;
      background-color: transparent;
    }
  }
  &__list {
    display: none;
    &_active {
      display: grid;
      animation: showTab 0.2s ease-in-out;
    }
    &_active.services__list_main {
      grid-template-columns: 1fr;
      row-gap: 25px;
    }
    &_active.services__list_retouch {
      grid-template-columns: repeat(2, 1fr);
      @include adaptiveValue("column-gap", 30, 20, 1920, 1024, 0);
      row-gap: 20px;
    }
    &_main {
      .services__heading {
        margin-bottom: 5px;
      }
    }
    &_retouch {
      .services__heading {
        margin-bottom: 10px;
      }
    }
  }
  &__img {
    @include adaptiveValue("margin-right", 29, 20, 1920, 1024, 0);
  }
  &__works {
    display: none;
    &_active {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      animation: showTab 0.4s ease-in-out;
    }
  }
  &__article,
  &__figure,
  &__figcaption,
  &__more,
  &__item,
  &__upper,
  &__tabs,
  &__link {
    display: flex;
  }
  &__article,
  &__upper,
  &__figcaption,
  &__link {
    flex-direction: column;
  }
  &__figure {
    align-items: center;
  }
  &__figure,
  &__figcaption,
  &__link {
    flex-grow: 1;
  }
  &__figcaption {
    padding-top: 10px;
  }
  &__article {
    position: relative;
    background: url(../img/services/main/services__promo.webp) center / cover
      no-repeat;
    @include adaptiveValue("padding-right", 163, 95, 1920, 1024, 0);
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
  }
  &__action,
  &__date {
    color: #fff500;
  }
  &__action {
    font-family: $fontTT;
    font-weight: 700;
    font-size: 36px;
    line-height: 37px;
  }
  &__sale {
    width: 116px;
    height: 59px;
    margin-bottom: 10px;
  }
  &__date {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 210px;
    font-family: $fontRob;
    font-weight: 700;
  }
  &__desc {
    margin-bottom: 9px;
    font-family: $fontRob;
  }
  &__item {
    position: relative;
  }
  &__more {
    align-items: center;
    font-family: $fontRob;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    color: $orng;
    transition: background-color 0.2s ease-in-out, padding 0.1s ease-in-out;
  }
  &__heading,
  &__more {
    align-self: flex-start;
  }
  &__link {
    justify-content: space-between;
    &:hover,
    &:focus {
      .services__arrow {
        transform: scaleX(1.4211) translateX(3px);
      }
    }
    &:hover {
      .services__heading {
        color: $orng;
      }
    }
    &:focus {
      .services__heading {
        background-color: #ffd4c1;
        color: $drk;
      }
      .services__more {
        padding-right: 11px;
        background-color: #ffd4c1;
      }
    }
    &:active {
      .services__more,
      .services__heading {
        background-color: transparent;
        color: $orngActv;
      }
      .services__arrow {
        fill: $orngActv;
      }
    }
  }
  &__heading {
    font-family: $fontRob;
    font-size: 24px;
    line-height: 22px;
    font-weight: 400;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: $drk;
  }
  &__content {
    color: #999999;
  }
  &__upper {
    margin-bottom: 11px;
  }
  &__arrow {
    transition: transform 0.2s ease-in-out, fill 0.2s ease-in-out;
    margin-left: 4px;
  }
  &__right {
    padding-top: 10px;
  }
  &__item {
    &_tablet {
      display: none;
    }
  }
}

@media (max-width: 1352px) {
  .services {
    &__list {
      &_active.services__list_retouch {
        grid-template-columns: 1fr;
        column-gap: 0px;
      }
    }
    &__works {
      &_active {
        grid-template-columns: repeat(3, 1fr);
        @include adaptiveValue("column-gap", 67, 30, 1352, 1024, 0);
      }
    }
  }
}

@media (max-width: 1024px) {
  .services {
    padding-bottom: 42px;
    &__container {
      grid-template-columns: repeat(
        auto-fit,
        minmax(218px, 342px) minmax(218px, 1fr) minmax(218px, 342px)
      );
      @include adaptiveValue("column-gap", 30, 20, 1024, 768, 0);
    }

    &__title {
      &_left {
        margin-bottom: 11px;
      }
    }

    &__tabs {
      margin-bottom: 30px;
    }

    &__article {
      background: url(../img/services/main/services__promo_1024.webp) center /
        cover no-repeat;
      @include adaptiveValue("padding-right", 95, 30, 1024, 768, 0);
      margin-bottom: 30px;
    }

    &__figcaption {
      padding-top: 7px;
    }

    &__list {
      &_main {
        .services__img {
          @include adaptiveValue("margin-right", 31, 20, 1024, 768, 0);
        }
        // .services__item:not(:last-child) {
        //   margin-bottom: 20px;
        // }
        // .services__figure {
        //   grid-template-columns: 36.9492% 1fr;
        //   @include adaptiveValue("column-gap", 30, 20, 1024, 768, 0);
        // }
      }

      &_retouch {
        .services__figure {
          flex-direction: column;
          align-items: stretch;
          // display: flex;
          // grid-template-columns: 1fr;
          // row-gap: 13px;
          // column-gap: 0px;
        }

        .services__figcaption {
          justify-content: space-between;
        }

        .services__img {
          margin-bottom: 13px;
          margin-right: 0;
          img {
            max-width: 100%;
          }
        }

        .services__heading {
          margin-bottom: 5px;
        }
      }

      &_active.services__list_main {
        row-gap: 20px;
      }

      &_active.services__list_retouch {
        grid-template-columns: repeat(2, 1fr);
        @include adaptiveValue("column-gap", 30, 20, 1024, 768, 0);
      }
    }

    &__works {
      &_active {
        @include adaptiveValue("gap", 30, 15, 1024, 768, 0);
        row-gap: 20px;
      }
    }

    &__thumb {
      img {
        max-width: 100%;
      }
    }

    &__item {
      &_tablet {
        display: block;
      }
      &_desk {
        display: none;
      }
    }
  }
}

@media (max-width: 900px) {
  .services {
    &__list {
      &_main {
        .services__figure {
          flex-direction: column;
          align-items: stretch;
        }
        .services__img {
          margin-right: 0px;
          margin-bottom: 14px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .services {
    padding-bottom: 38px;
    &__container {
      grid-template-columns: 1fr;
      row-gap: 25px;
      column-gap: 0px;
    }
    &__tabs {
      grid-column: 1 / 2;
      max-width: 342px;
      margin-bottom: 32px;
    }
    &__title {
      &_left {
        margin-bottom: 9px;
      }
    }
    &__figcaption {
      padding-top: 0px;
    }
    &__left {
      grid-column: 1 / 2;
    }
    &__right {
      padding-top: 0px;
    }
    &__list {
      &_main {
        .services__figcaption {
          justify-content: space-between;
        }
        .services__img {
          img {
            max-width: 100%;
          }
        }
      }
      &_active.services__list_main,
      &_active.services__list_retouch {
        grid-template-columns: repeat(2, 1fr);
        @include adaptiveValue("column-gap", 30, 20, 768, 576, 0);
        row-gap: 20px;
      }
    }
    &__upper {
      margin-bottom: 3px;
    }
    &__article {
      margin-bottom: 19px;
      background: url(../img/services/main/services__promo_768.webp) center /
        cover no-repeat;
      @include adaptiveValue("padding-right", 465, 300, 768, 576, 0);
    }
    &__date {
      margin-bottom: 124px;
    }
    &__sale {
      position: absolute;
      top: 20px;
      right: 30px;
    }
    &__works {
      &_active {
        grid-template-columns: repeat(6, 1fr);
        @include adaptiveValue("gap", 30, 10, 768, 576, 0);
      }
    }
  }
}

@media (max-width: 576px) {
  .services {
    padding-top: 0;
    padding-bottom: 49px;
    &__container {
      row-gap: 21px;
    }
    &__title {
      &_left {
        margin-bottom: 3px;
      }
      &_right {
        margin-bottom: 14px;
      }
    }
    &__tabs {
      max-width: 100%;
      margin-bottom: 20px;
    }
    &__tab {
      font-size: 14px;
    }
    &__action {
      font-size: 30px;
      line-height: 31px;
    }
    &__sale {
      width: 85px;
      height: 43px;
    }
    &__desc {
      margin-bottom: 16px;
    }
    &__date {
      font-size: 14px;
      margin-bottom: 226px;
    }
    &__list {
      &_active.services__list_main,
      &_active.services__list_retouch {
        grid-template-columns: 1fr;
        column-gap: 0px;
      }
      &_active.services__list_main {
        row-gap: 24px;
      }
      &_main {
        .services__heading {
          margin-bottom: 5px;
        }
        .services__heading {
          margin-bottom: 5px;
          &_last {
            margin-bottom: 12px;
          }
        }
      }
    }
    &__item {
      .services__figure {
        .services__img {
          img {
            max-width: none;
            width: 100%;
          }
        }
      }
    }
    &__more {
      font-size: 14px;
    }
    &__article {
      padding-right: 30px;
      background: url(../img/services/main/services__promo_320.webp) center /
        cover no-repeat;
      margin-bottom: 23px;
    }
    &__heading {
      font-size: 16px;
      &_penultimate,
      &_last {
        line-height: 16px;
      }
      &_last {
        margin-bottom: 12px;
      }
    }
    &__works {
      &_active {
        grid-template-columns: repeat(auto-fit, 124px);
        justify-content: space-between;
        gap: 30px;
      }
    }
  }
}
